DRAMATV_TZ=Asia/Shanghai

DRAMATV_PG_PORT=5432
DRAMATV_PG_DB=dramatv
DRAMATV_PG_USER=dramatv
DRAMATV_PG_PASSWORD=dramatv

DRAMATV_REDIS_PORT=6379

DRAMATV_PGADMIN_PORT=5050
DRAMATV_PGADMIN_EMAIL=admin@dramatv.com
DRAMATV_PGADMIN_PASSWORD=dramatv-admin
